BasedOnStyle: GNU
ColumnLimit:     0
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
PointerBindsToType: true
SortIncludes: false
SpaceBeforeParens: ControlStatements
TabWidth:        2

BreakBeforeBraces: Custom
BraceWrapping:
    AfterControlStatement: true
    AfterEnum: true
    AfterStruct: true
    AfterClass: true
    AfterFunction: true
    AfterUnion: true
    AfterNamespace: true
    AfterExternBlock: true
    BeforeCatch: true
    BeforeElse: true
    SplitEmptyFunction: false
    SplitEmptyRecord: false
    SplitEmptyNamespace: false